{%  extends "base.html" %}
{% block title %} Home {% endblock %}

{% block scripts %}
  {{ super() }}
  {{ datepicker.loader() }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}

{% block content %}
<h1 style="text-align:center;">Stock Future Price History</h1>
<form action="#" method="post">
    <div class="form-group col-12">
        <label for="validationDefault01">Symbol</label>
        <input type="text" class="form-control" id="validationDefault01" placeholder="Symbol" name="symbol" required>
    </div>
    <div class="form-group col-12">
        <label for="validationDefault02">Start Date</label>
        <input type="date" class="form-control dp" id="validationDefault01" placeholder="Symbol" name="start_date" required>
    </div>
    <div class="form-group col-12">
        <label for="validationDefault03">End Date</label>
        <input type="date" class="form-control dp" id="validationDefault01" name="end_date" required>
    </div>
    <div class="form-group col-12">
        <label for="validationDefault04">Expiry Date</label>
        <input type="date" class="form-control dp" id="validationDefault01" name="expiry_date" required>
    </div>
    <p><button type="submit" class="btn btn-primary btn-lg" style="margin-left: 45%">Submit</button> </p>
</form>

{% endblock %}